.t-blue {
  color: color(blue);
}

.t-gray {
  color: color(gray);
}

.t-black {
  color: color(black);
}

.t-white {
  color: white;
}

.t-lightblack {
  color: color(lightblack);
}

.t-yellow {
  color: color(yellow);
}

.b-black {
  background-color: color(black);
}

.b-gray {
  background-color: color(lightgray);
}

.b-blue {
  background-color: color(darkblue);
}