@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap');
    
html, body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  background-color: #000000;
  color: #FDFFFC;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FDFFFC;
}

p {
  margin-top: 0;
}