/*SPACING*/

.main {
  padding: 3rem 5%;
}

@media (min-width: 1024px) {
  .main {
    padding: 6rem 5%;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-right: 15%;
    padding-left: 15%;
  }
}

/*paddings general*/

.p00 {
  padding: 0;
}

.p10 {
  padding: 1rem 0;
}

.p01 {
  padding: 0 1rem;
}

.p11 {
  padding: 1rem;
}

.p12 {
  padding: 1rem 2rem;
}

.p20 {
  padding: 2rem 0;
}

.p02 {
  padding: 0 2rem;
}

.p21 {
  padding: 2rem 1rem;
}

.p22 {
  padding: 2rem;
}

.p33 {
  padding: 3rem;
}

.p44 {
  padding: 4rem;
}

/*paddings single value*/

.pt0 {
  padding-top: 0;
}

.pt05 {
  padding-top: .5rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt15 {
  padding-top: 1.5rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt25 {
  padding-top: 2.5rem;
}

.pt3 {
  padding-top: 3rem;
}

.pb0 {
  padding-bottom: 0;
}

.pb05 {
  padding-bottom: .5rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb15 {
  padding-bottom: 1.5rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb25 {
  padding-bottom: 2.5rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pl0 {
  padding-left: 0;
}

.pl05 {
  padding-left: .5rem;
}

.pl1 {
  padding-left: 1rem;
}

.pl15 {
  padding-left: 1.5rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl25 {
  padding-left: 2.5rem;
}

.pl3 {
  padding-left: 3rem;
}

.pr0 {
  padding-right: 0;
}

.pr05 {
  padding-right: .5rem;
}

.pr1 {
  padding-right: 1rem;
}

.pr15 {
  padding-right: 1.5rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr25 {
  padding-right: 2.5rem;
}

.pr3 {
  padding-right: 3rem;
}

/*margins general*/

.m00 {
  margin: 0;
}

.m10 {
  margin: 1rem 0;
}

.m20 {
  margin: 2rem 0;
}

.m01 {
  margin: 0 1rem;
}

.m11 {
  margin: 1rem;
}

/*margins single value*/

.mt0 {
  margin-top: 0;
}

.mt05 {
  margin-top: .5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt15 {
  margin-top: 1.5rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb05 {
  margin-bottom: .5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb15 {
  margin-bottom: 1.5rem;
}

.mb2 {
  margin-bottom: 2rem;
}

/*FLEXBOX POSITIONING*/

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-stretch {
  align-items: stretch;
}

.a-baseline {
  align-items: baseline;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-around {
  justify-content: space-around;
}

.j-between {
  justify-content: space-between;
}

.j-evenly {
  justify-content: space-evenly;
}
