  .red {
    color: #92140C;
  }

  .black {
    background-color: #000000;
  }

  .gray {
    background-color: rgb(21, 24, 22);
  }
  
  .header {
    text-align: left;
    border-left: 1px solid #C20114;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 2rem 0;
  }

  .subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .button {
    background: none;
    text-align: center;
    font-size: 1rem;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #F2F4F3;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    cursor: pointer;
    outline: none;
    color: #FDFFFC;
    transition: all 0.3s;
  }

  .button:hover, 
  .button:active {
    color: black;
    background-color: #F2F4F3;
  }

  .button-active {
    color: black;
    background-color: #F2F4F3;
  }

  .button:disabled {
    color: black;
    background-color: #F2F4F3;
    opacity: 0.6;
  }

  .main {
    padding: 3rem 10vw;
  }

  .icon{
    height: 2rem;
  }

  .title {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    width: auto;
    padding: 1rem 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .title::before {
    content: "";
    background-color: #C20114;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    transform: translateX(-100%);
    animation: slide-right 2s ease-in 0.2s;
  }

  @media (min-width: 768px) {
    .title {
      font-size: 5rem;
      letter-spacing: 0.3rem;
    }
  }

  @media (min-width: 1024px) {
    .main {
      padding: 6rem 10vw;
    }

    .button {
      width: auto;
    }
  }